.boxy-wrapper {
	position: absolute;
}
.boxy-wrapper.fixed {
	position: fixed;
}
/* Modal */
  
.boxy-modal-blackout {
	position: absolute;
	background-color: black;
	left: 0;
	top: 0;
}
/* Border */

.boxy-wrapper {
	empty-cells: show;
}
.boxy-wrapper .top, .boxy-wrapper .bottom {
	height: 10px;
	background-color: black;
	opacity: 0.3;
	filter: alpha(opacity=30);
	padding: 0
}
.boxy-wrapper .left, .boxy-wrapper .right {
	width: 10px;
	background-color: black;
	opacity: 0.3;
	filter: alpha(opacity=30);
	padding: 0
}
/* Title bar */
	
.boxy-wrapper .title-bar {
	background-color: black;
	padding: 6px;
	position: relative;
}
.boxy-wrapper .title-bar.dragging {
	cursor: move;
}
.boxy-wrapper .title-bar h2 {
	font-size: 12px;
	color: white;
	line-height: 1;
	margin: 0;
	padding: 0;
	font-weight: normal;
}
.boxy-wrapper .title-bar .close {
	color: white;
	position: absolute;
	top: 6px;
	right: 6px;
	font-size: 90%;
	line-height: 1;
}
/* Content Region */
.boxy-wrapper .top {
	border-radius:11px 11px 0px 0px;
	-moz-border-radius:11px 11px 0px 0px;
	-webkit-border-radius:11px 11px 0px 0px;
}
.boxy-wrapper .bottom {
	border-radius:0px 0px 11px 11px;
	-moz-border-radius:0px 0px 11px 11px;
	-webkit-border-radius:0px 0px 11px 11px;
}
.boxy-inner {
	background-color: white;
	padding: 0
}
.boxy-content {
     width:300px;
     height:200px;
	padding: 15px;
}
/* Question Boxes */

.question {
	width: 300px;
	min-height: 100px;
	text-align:center;
	padding-top:50px;
}
.answers {
     text-align: center;
}
.answers input.button {
	margin:0;}
